/* ................ Collection Css............... */
.Collection-All{
  
 
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.Collection-Main{
    /* background-color: rgb(216, 60, 60); */
    /* display: flex; */
    
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* gap: 2px; */
  

}
.Collection{
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;

    height: auto;
    width: 85vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* justify-content: space-between; */

}
.One{
    height: 38vw;
    width: 38vw;
    background-color:rgba(206, 164, 164, 0.942);
    display: flex;
    align-items: center;
}
.Two{
  /* box-shadow: 0 4px 30px rgba(205, 225, 50, 0.651);  */
  background-color:rgba(72, 103, 142, 0.651);
  height: 38vw;
  width: 38vw;
  display: flex;
  align-items: center;
}
.Three{
  /* box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);  */
  height: 38vw;
  width: 38vw;
  background-color:rgba(205, 225, 50, 0.651);
  display: flex;
  align-items: center;
}
.Four{
  /* box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);  */
  height: 38vw;
  width: 38vw;
  background-color:rgba(218, 20, 20, 0.942);
  display: flex;
  align-items: center;
}
.One-Text{
  /* box-shadow: 0 4px 30px rgba(205, 225, 50, 0.651);  */


}
.Head-Tittle{
  color: #fff;
  font-size: 2.5vw;
}
.Tittle{
  /* color: #fff; */
  font-size: 2.5vw;
}
.Awsm{
  /* color: #fff; */
  font-size: 2.5vw;
}
.Imgs{
  background-color: yellow;
  width: 100%;
  height: 100%;
}
.Img-fluid{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Shopnow-Button{
  /* position: absolute; */
  background-color:#1b1b55;
  color: #fff;
  height: 4vw;
  width: 12vw;
  border-radius: 12px;
  font-size: 1.5vw;


}
.Extra-Button{
/* font-size: 33px; */
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #82a1d7;
color: #000000;
height: 4vw;
width: 76.7vw;
display: flex;
align-items: center;
justify-content: center;
font-size: 2.5vw;
font-weight: 670;
margin-top: 0.5rem;
}
/* .....................responsive................... */


@media (max-width: 432px) {
  .Shopnow-Button{
    height: 4vw;
    width: 12vw;
    border-radius: 12px;
    font-size: 1.3vw;
  
  
  }
}
