/* ................ Collection Css............... */
.Collection-All{
  
 
  text-align: center;
  align-items: center;
  justify-content: center;
  


}.Collection-Main{
    /* background-color: rgb(216, 60, 60); */
    /* display: flex; */
    
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* gap: 2px; */
  

}
.Collection{
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;

    height: auto;
    width: 75vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
    /* justify-content: space-between; */

}
.One{
    height: 33vw;
    width: 32vw;
    background-color:rgba(206, 164, 164, 0.942);
    display: flex;
    align-items: center;
}
.Two{
  /* box-shadow: 0 4px 30px rgba(205, 225, 50, 0.651);  */
  background-color:rgba(72, 103, 142, 0.651);
  height: 33vw;
  width: 32vw;
  display: flex;
  align-items: center;
}
.Three{
  /* box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);  */
  height: 33vw;
  width: 32vw;
  background-color:rgba(205, 225, 50, 0.651);
  display: flex;
  align-items: center;
}
.Four{
  /* box-shadow: 0 4px 30px rgba(12, 11, 11, 0.651);  */
  height: 33vw;
  width: 32vw;
  background-color:rgba(218, 20, 20, 0.942);
  display: flex;
  align-items: center;
}
.One-Text{
  /* box-shadow: 0 4px 30px rgba(205, 225, 50, 0.651);  */


}
.Head-Tittle{
  color: #fff;
  font-size: clamp(1.5vw, 2.5vw, 4vw); 
}
.Tittle{
  /* color: #fff; */
  font-size: clamp(1.5vw, 2.5vw, 4vw); 
}
.Awsm{
  /* color: #fff; */
  font-size: clamp(.5vw, 1.5vw, 4vw); 
}
.Imgs{
  /* background-color: yellow; */
  /* width: 50%;
  height: 100%; */
}
.Img-fluid{
  height: 32vw;
  width: 16vw;
  object-fit: cover;
}
.Shopnow-Button{
  /* position: absolute; */
  background-color:#1b1b55;
  color: #fff;
  height: 4vw;
  width: 8vw;
  border-radius: 12px;
  /* font-size: clamp(1.5vw, 2.5vw, 4vw);  */


}
.Extra-Button{
/* font-size: 33px; */
font-family: 'Courier New', Courier, monospace;
background-color: #82a1d7;
color: #000000;
height: 4vw;
width: 64.3vw;
display: flex;
align-items: center;
justify-content: center;
font-size: clamp(1.5vw, 2.5vw, 4vw); 
}
/* .....................responsive................... */


  